@{
    ViewBag.Title = "About Demos";
}

<h2>@ViewBag.Title</h2>

    <p>The demonstrations on this site are functional representations of projects I have done over the years. They do not contain any proprietary information and only serve to showcase my skills.</p>

