@{
    ViewBag.Title = "About Me";
}
<style>
    body {
        padding-top: 80px;
    }
</style>
<h2>@ViewBag.Title</h2>
<p>
    My name is Steven Williams. I am a software developer. I work for the internal team at Howard Technology Solutions.
    I blog about code and technology. I am excited about community, teaching, and new technology.
</p>

<p>
    I am on <img src="~/images/facebook.png" /> <a href="https://www.facebook.com/Muffinman26" target="_blank">Facebook</a>, <img src="~/images/google_plus.png" /><a href="https://plus.google.com/+StevenWilliams1983/posts" target="_blank">Google+</a>, <img src="~/images/twitter.png" /><a href="https://twitter.com/Muffinman26" target="_blank">Twitter</a>, and my blog is on <img src="~/images/wordpress.png" /><a href="http://muffinman28.wordpress.com" target="_blank">Wordpress</a>.
</p>

<p>
    If you want to email me, you can send an email to <a href="mailto:steven.williams12083@gmail.com">steven.williams12083@gmail.com</a>.
</p>

<h3>Background</h3>

<p>
    I was a test automation engineer, mentor, and C# developer at BearingPoint, now a part of Deloitte Consulting, for 4 years.
    After Deloitte, I was one of two software engineers at Therapy Management Corporation, where I was the sole developer on multiple high profile projects.    
</p>



