@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Email">E:</abbr>    
    <a href="mailto:steven.williams12083@gmail.com">steven.williams12083@gmail.com</a>
    <br/><abbr title="Blog">B:</abbr>
   <a href="http://muffinman28.wordpress.com" target="_blank">muffinman28.wordpress.com</a>
</address>